body {
    font-family: "Georgia", serif;
    background: url('locandina.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #2c2c2c;
}

header {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 5px 0;
}